// Media Queries

@mixin mq($break) {
  @if $break == "small" {
    @media(min-width: $brkpoint-sm) {
      @content;
    }
  }

  @else if $break == "medium" {
    @media(min-width: $brkpoint-md + 1) {
      @content;
    }
  }

  @else if $break == "large" {
    @media(min-width: $brkpoint-lg) {
      @content;
    }
  }

  @else {
    @error "No value could be retrieved for '#{$break}'."
  }
};

//Import Google Font

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

//Flexbox

@mixin flexify(
  $disp : flex,
  $dir  : null,
  $just : null,
  $wrap : null) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    flex-wrap: $wrap;
  };

//BEM

@mixin e($element) {
  &__#{$element} {
    @content;
  }
};

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
};

//Grid Styling

@mixin grid-style {
  @each $theme, $color in $theme-colors {
    &--#{$theme}.theme__colors {
      background: $color;
      border-radius: $br-default;
      padding: 10px;
      font-size: $base__font-size;
      font-weight: $font-weight--bold;
      color: palette(grey, light);
    }
  }
}

// Button Styling

@mixin button-style {
  @each $theme, $color in $button-colors {
    &--#{$theme} {
      background-color: $color;
      @content;
    }
  }
}

// Center

@mixin centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Create Grid

@mixin g-columns {
  @for $i from 1 to $g-col-count {

    $context: g-context($g-col-width, $g-col-count, $g-gutter-width) !global;
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

    // Create grid column modifiers
    .grid__col--#{$i} {
      width: percentage($target / $context);
      display: flex;
      }
    }
  }
