// ============================
//        BUTTONS
// ============================

.btn {
  padding: em(10px) em(25px);
  display: block;

  @each $item , $color in $button-colors {
    @include m(#{$item}) {
      @extend %btn;
      background-color: $color;
      margin-top: $marg-sm;
      @include mq(medium) {
        margin-right: em(20px);
      }
      }
    }
}
