// ========================
//        FORMS
// ========================


.form {
  @include e(label) {
    @include m(hidden) {
      @extend .srt;
    }
  }
  @include e(input) {
    border: none;
    font-family: $font-family--secondary;
    border-bottom: 5px solid $color-primary;
    padding: em(45px) 0 em(15px) em(15px);
    margin-left: 2.5%;
    width: 95%;
  }
}
