// Grid

.container {
  margin-left: em(50px);
  margin-right: em(50px);
}

.grid {

  @include e(row) {
    @include mq(medium) {
      @include flexify($just: space-between);
      max-width: 90%;

      &:nth-child(3) {
        @include flexify($just: space-between);
      }

      &:nth-child(4) {
        @include flexify($just: space-around, $wrap: nowrap);
      }
    }
  }

  @include e(col) {
    @include grid-style;
    @include mq(small) {
      &--8.theme__colors,
      &--7.theme__colors,
      &--6.theme__colors,
      &--5.theme__colors,
      &--4.theme__colors,
      &--3.theme__colors {
        font-family: $font-family--primary;
        color: $grey;
        font-size: em(18px);
        padding: 10px;
        font-weight: $font-weight--medium;
        margin-bottom: $marg-x-sm;
      }


      &--12.theme__colors,
      &--6.theme__colors:last-of-type,
      &--4.theme__colors:last-of-type,
      &--3.theme__colors:last-of-type,
      &--7.theme__colors:last-of-type {
        font-family: $font-family--primary;
        color: $grey;
        font-size: em(18px);
        padding: 10px;
        font-weight: $font-weight--medium;
        margin-bottom: $marg-md;
      }
    }

    @include mq(large)  {
      @include g-columns;
    }
  }
}
