// ==================
//      IMAGES
// ==================

.img {
  @include m(logo) {
    @extend %centered;
    width: 100%;
    max-width: 199px;
  }
  @include m(frame) {
    @extend %centered;
    width: 100%;
    padding: em(15px);
    border: 1px solid $color-text;
  }
  @include m(avatar) {
    @extend %centered;
    padding-top: em(35px)
  }
}
