// Images

.img {
  //Logo Image

  @include m(logo) {
    @extend %centered;
    padding-top: em(75px);
    padding-bottom: em(75px);

    @include mq(medium) {
      display: inline-block;
      padding: em(20px) 0 0 0;
    }
  }

  //Avatar Image

  @include m(avatar) {
    @extend %centered;
    padding-top: em(35px);
    padding-bottom: em(35px);

    @include mq(medium) {
      width: auto;
      margin-left: $marg-x-lg;
      padding-top: em(18px);
    }
  }

  // Frame Image

  @include m(frame) {
    @extend %centered;
    margin-top: em(50px);
    padding: em(15px);
    border: 1px palette(grey, x-light) solid;
    width: 98%;

    @include mq(medium) {
      width: auto;
    }
  }
}
