// ================
//    NAVIGATION
// ================


.nav {
  @include flexify($dir: column);
  padding: 0;
  &__item {
    display: block;
    padding: em(8px);
    @extend %nav;

    @include mq(medium) {
      margin-right: em(20px);
    }

    @include mq(large) {
      margin-right: em(60px);
    }
  }
  @include mq(medium) {
    @include flexify($dir: row);
  }
}
