// ====================
//      TYPOGRAPHY
// ====================

.headline {
  @include m(primary) {
    @extend %hdln-prim;
  }
  @include m(secondary) {
    @include text($size: em(28px), $weight: $font-weight--thin, $color: palette(grey, light));
    font-family: $font-family--primary;
    margin-top: em(70px);
  }
}

.link {
  @extend %link;
}

.blockquote {
  @include text($size: em(28px), $weight: $font-weight--light, $l-height: 36px );
  font-style: italic;
  border-left: 10px solid $color-primary;
  border-radius: $br-default;
  padding-left: em(20px);
  margin: 0.8em;
}
