// Base Styles

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

p {
  font-size: $base__font-size;
  font-weight: $font-weight--light;
  font-family: $font-family--primary;
  color: palette(grey, light);
  line-height: 1.5;

  @include mq(large) {
    font-size: em(22px);
  }
}
